<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <%= form_with model: @question do |form| %>
      <div class="form-group">
        <%= form.label :message %>
        <%= form.text_area :message, class: "form-control", placeholder: "Text here..." %>
      </div>

      <div class="text-right">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
