<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="page-header">
        <h1>Edit Question</h1>
      </div>
    </div>
  </div>
  <%= render "form" %>
</div>
