<div class="container">
  <div class="row list-group">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <% @questions.each do |question| %>
          <%= link_to question_path(question), class: "list-group-item" do %>
            <p><h5>By: <%= question.user.email %></h5></p>
            <h4><%= question.message %></h4>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 text-right">
      <%= paginate @questions %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 text-right">
      <%= link_to "New question", new_question_path, class: "btn btn-primary" %> 
    </div>
  </div>
</div>
