<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="page-header">
        <h1><%= @question.message %></h1>
      </div>
    </div>
  </div>

  <% if user_signed_in? && current_user.owner_of?(@question) %>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8 text-right">
        <%= link_to "Edit", edit_question_path(@question), class: "btn btn-success" %>
        <%= button_to "Delete", question_path(@question), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>

  <br></br>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <ul class="list-group">
        <% @question.answers.each do |answer| %>
          <li class="list-group-item">
            <p><b><h5>By: <%= answer.user.email %></h5></b></p>
            <h5><%= answer.message %></h5>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <br></br>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 text-right">
      <%= link_to "New answer", new_question_answer_path(@question), class: "btn btn-primary" %>
    </div>
  </div>
</div>
