<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 text-right">
      <% if flash[:success] %>
        <div class="alert alert-success text-left" role="alert"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger text-left" role="alert"><%= flash[:error] %></div>
      <% end %>
    </div>
  </div>
</div>
